DATABASE_URL="postgresql://postgres:postgres@localhost:5432/appify_feed?schema=public"
JWT_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-a-different-32-character-secret"
CSRF_SECRET="replace-with-another-random-32-character-secret"
FRONTEND_URL="http://localhost:5173"
PORT=3000
CLOUDINARY_CLOUD_NAME="ddluuftiq"
